<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/assets/styles.css">

    <script>
        $(document).ready(function () {

            $('li').on('click', function () {
                var item = $(this).text().replace(/ /g, "-");
                $.ajax({
                    type: 'DELETE',
                    url: '/todo/' + item,
                    success: function (data) {
                        //do something with the data via front-end framework
                        console.log(data);
                        location.reload();
                    }
                });
            });

        });
    </script>
</head>

<body>
    <div class="todo-table">
        <h1>Add a To-Do!</h1>
        <form method="POST" action="/todo">
            <input type="text" placeholder="Add an item.." name="todo">
            <input type="submit" value="submit">
        </form>
        <ul>
            <% for(var i=0; i< data.length; i++ ) { %>
            <li><%= data[i].todo %></li>

            <% } %>
        </ul>

    </div>

</body>

</html>