<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/assets/styles.css">
</head>

<body>
    <div class="todo-table">
        <h1>Add a To-Do!</h1>
        <form>
            <input type="text" placeholder="Add an item.." name="todo">
            <input type="submit" value="submit">
        </form>

        <!--List to store the tasks.-->
        <ul>
            <li>Item 1</li>
            <li>Item 2</li>
        </ul>
    </div>

</body>

</html>